<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>校内学生位置实时统计图</title>
    <script src="/assets/js/echarts.js"></script>


    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>首页</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ace-part2.min.css" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="no-skin">
<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="/views/index.html" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    基于数据分析的在校学生素质发展监测系统
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">

                        <img class="nav-user-photo us_photo" src="/assets/images/avatars/user.jpg" alt="个人头像" style="background-color:#fff" />

                        <span class="user-info">
									<small>
										欢迎您
									</small>

								</span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a id="setting" target="_blank">
                                <i class="ace-icon fa fa-cog"></i> 设置
                            </a>
                        </li>

                        <li>
                            <a id="profile"  target="_blank">
                                <i class="ace-icon fa fa-user"></i> 个人信息
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="/login.html" onclick="logout()">
                                <i class="ace-icon fa fa-power-off"></i> 注销
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch(e) {}
    </script>

    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch(e) {}
        </script>

        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div>
        <!-- /.sidebar-shortcuts -->

        <ul class="nav nav-list">
            <li class="active">
                <a href="/views/index.html">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> 我的首页 </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-tasks"></i>
                    <span class="menu-text"> 数据管理 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">

                    <li class="">
                        <a href="/views/dataManage/studentManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 学生
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/teacherManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 教师
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/majorManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 专业
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/classroomManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 班级
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/scoreManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 成绩
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/certificateManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 证书
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/competitionManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 竞赛
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/innovationTrainManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 创新训练
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/scholarshipManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 奖学金
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/excellentStudentManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 优秀学生
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/pushExcellentManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 推优
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/partyMemberManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 入党
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/postGraduateManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 考研录取
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/volunteerManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 志愿服务
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/dutyManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 学生干部
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/dataManage/adviceManage.html">
                            <i class="menu-icon fa fa-caret-right"></i> 发展建议
                        </a>

                        <b class="arrow"></b>
                    </li>

                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-bar-chart-o"></i>
                    <span class="menu-text"> 数据分析 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-caret-right"></i> 个人情况分析
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="/views/dataAnalysis/student/personalGrade.html">
                                    <i class="menu-icon fa fa-leaf green"></i>个人成绩查询
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="/views/dataAnalysis/student/personalAllInfo.html">
                                    <i class="menu-icon fa fa-leaf green"></i>发展综合分析
                                </a>

                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </li>

                    <li class="">
                        <a href="/views/dataAnalysis/dorm/dormAtmosphere.html">
                            <i class="menu-icon fa fa-caret-right"></i> 宿舍情况分析
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/views/dataAnalysis/classroom/classAtmosphere.html">
                            <i class="menu-icon fa fa-caret-right"></i> 班级情况分析
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-caret-right"></i> 整体学业分析
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="/views/dataAnalysis/all/allGrade.html">
                                    <i class="menu-icon fa fa-leaf green"></i>学分积欠情况分析
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="/views/dataAnalysis/all/make_up_rebuild.html">
                                    <i class="menu-icon fa fa-leaf green"></i>补考重修情况分析
                                </a>

                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-book"></i>
                    <span class="menu-text"> 数据预测 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="/views/bigDataAnalysis/courseDependence.html">
                            <i class="menu-icon fa fa-caret-right"></i> 课程通过预警
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/views/bigDataAnalysis/scorePosition.html">
                            <i class="menu-icon fa fa-caret-right"></i> 成绩位置预测
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/views/bigDataAnalysis/postGraduate.html">
                            <i class="menu-icon fa fa-caret-right"></i> 考研录取预测
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/views/bigDataAnalysis/partyMember.html">
                            <i class="menu-icon fa fa-caret-right"></i> 入党情况预测
                        </a>

                        <b class="arrow"></b>
                    </li>

                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-folder-open-o"></i>
                    <span class="menu-text"> 文件操作 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="/views/file/fileUpload.html">
                            <i class="menu-icon fa fa-caret-right"></i> 文件上传
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/views/file/fileDownload.html">
                            <i class="menu-icon fa fa-caret-right"></i> 文件下载
                        </a>

                        <b class="arrow"></b>
                    </li>

                </ul>
            </li>

            <!-- 这里备用!-->
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-bar-chart-o"></i>
                    <span class="menu-text">
								学生实时数据
							</span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="/views/bigDataDetection/student-where-Pirchart.html">
                            <i class="menu-icon fa fa-caret-right"></i>
                            学生校内实时轨迹
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /.nav-list -->


        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/views/index.html">我的首页</a>
                    </li>

                </ul>
                <!-- /.breadcrumb -->

            </div>

            <div class="page-content">

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="alert alert-block alert-success">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="ace-icon fa fa-times"></i>
                            </button>
                            <span style="font-size: 15px;">1.当日学生在校情况以及校园卡实时统计情况。该部分根据学生在校各种活动数据的联网结合动态的在下下图显示，您可查看当前时间节点中
                                不在校学生人数以及占比，以及在校学生中学生的大致位置情况以及实验室，教室，图书馆的占用比例以及宿舍的人数状态。<br>2.下方曲线图配合柱状图，展示了一天
                                当中各个场所学生的位置变化情况,并采取间隔时间为60分钟统计一次的方式采集学生当前时间节点的数据值反应到前端界面供管理者参考.
                            </span>
                        </div>

                        <div id="main" style="width: 1100px;height:600px;"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('main'));
                            setTimeout(function () {
                                option = {
                                    title: {
                                        text: '今日学生位置实时统计图',
                                        subtext: 'Position',
                                        left: 'center',
                                    },
                                    legend: {
                                        orient: 'vertical',
                                        left: 'left'
                                    },
                                    tooltip: {
                                        trigger: 'axis',
                                        showContent: false,
                                    },
                                    //后端数据传输接口↓
                                    dataset: {
                                        source: [
                                            ['product', '7:30分', '8:30分', '9:30分', '11:30分', '13:30分', '14:30分','15:30分'],
                                            ['教学楼', 1600, 98, 887, 701, 851, 332,102],
                                            ['宿舍', 2100, 1960, 790, 800, 840, 1600,2000],
                                            ['图书馆', 102, 102, 695, 1364, 1452, 2001,1800],
                                            ['实验室', 380, 371, 412, 198, 339, 491,400],
                                            ['校外', 1920, 1321, 1102, 900, 609, 841,1000]
                                        ]
                                    },
                                    xAxis: { type: 'category' },
                                    yAxis: { gridIndex: 0 },
                                    grid: { top: '50%' },
                                    series: [
                                        {
                                            type: 'line',
                                            smooth: true,
                                            seriesLayoutBy: 'row',
                                            emphasis: { focus: 'series' }
                                        },
                                        {
                                            type: 'line',
                                            smooth: true,
                                            seriesLayoutBy: 'row',
                                            emphasis: { focus: 'series' }
                                        },
                                        {
                                            type: 'line',
                                            smooth: true,
                                            seriesLayoutBy: 'row',
                                            emphasis: { focus: 'series' }
                                        },
                                        {
                                            type: 'line',
                                            smooth: true,
                                            seriesLayoutBy: 'row',
                                            emphasis: { focus: 'series' }
                                        },
                                        {
                                            type: 'line',
                                            smooth: true,
                                            seriesLayoutBy: 'row',
                                            emphasis: { focus: 'series' }
                                        },
                                        {
                                            type: 'pie',
                                            id: 'pie',
                                            radius: '30%',
                                            center: ['50%', '25%'],
                                            emphasis: {
                                                focus: 'self'
                                            },
                                            label: {
                                                formatter: '{b}: {@2012} ({d}%)'
                                            },
                                            encode: {
                                                itemName: 'product',
                                                value: '11:30分',
                                                tooltip: '11:30分'
                                            }
                                        }
                                    ]
                                };
                                myChart.on('updateAxisPointer', function (event) {
                                    const xAxisInfo = event.axesInfo[0];
                                    if (xAxisInfo) {
                                        const dimension = xAxisInfo.value + 1;
                                        myChart.setOption({
                                            series: {
                                                id: 'pie',
                                                label: {
                                                    formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                                                },
                                                encode: {
                                                    value: dimension,
                                                    tooltip: dimension
                                                }
                                            }
                                        });
                                    }
                                });
                                myChart.setOption(option);
                            });
                        </script>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder" style="margin-right: 10px;">基于数据分析的在校学生素质发展监测系统</span> 浙江工业大学 &copy; 1953-2023
						</span>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<!-- /.main-container -->
</body>
</html>